<template>
  <div>
    <Navbar />

    <div class="home">
      <div class="middle">
        <router-link to="/interns" id="router">SENDY INTERNS</router-link>
      </div>
    </div>
  </div>
</template>

<script>
import Navbar from "./Navbar";
export default {
  components: { Navbar },
  name: "Home",
};
</script>

<style >
.home {
  background-color: brown;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border: 2px solid;

}
#router{
  font-size: 50px;
}
</style>