<template>
<Navbar/>
  <div>

    <h2>Test</h2>
    <h2>{{intern.name}}</h2>
    <h2>{{intern.stacks[0]}}</h2>
    <h2>{{intern.stacks[1]}}</h2>
  </div>
</template>

<script>
import InternData from "../data/InternData.js";
import Navbar from '../components/Navbar.vue'
import { computed } from "vue";
import { useRoute } from "vue-router";

export default {
  name: "InternDetails",
  setup() {
    const route = useRoute();
    const intern = computed(() => {
      return InternData.filter(
        (a) => a.abbreviation === route.params.name.toUpperCase()
      )[0];
    });
    return { intern, Navbar };
  },
};
</script>

<style >
</style>