<template>
  <Navbar />
  <div class="header">
    <h3>LIST OF INTERNS</h3>
  </div>
  <div class="wrapper">
    <div v-for="intern in interns" :key="intern.id" class="interns">
      <p>{{ intern.name }}</p>
      <p>{{ intern.email }}</p>
      <router-link to="/" id="router-details">View more</router-link>
    </div>
  </div>
   <router-link to="/" id="router-details">Back home</router-link>
</template>

<script>
import Navbar from './Navbar'
import InternData from '../data/InternData.js'
import { ref } from 'vue'
export default {
  name: "Intern",
  components: { Navbar },

     setup() {
    const interns = ref(InternData)
        return { interns }
    }
 
  }

</script>

<style >
.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  max-width: 960px;
  margin: 0 auto;
  padding: 5px;
}
.interns {
  border: 3px solid;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 30px;
}
.interns p:first-child {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 1rem 0;
}
.interns p:last-child {
  font-style: italic;
  font-size: 0.8rem;
}
.header {
  margin-bottom: 20px;
  font-size: 20px;
  color: brown;
}
</style>
