<template>
 <div class="topnav">
      <a class="active" href="">INTERNS</a>
    </div>
</template>

<script>
export default {
  name: "Navbar",
};
</script>

<style>
.topnav {
  overflow: hidden;
  background-color: #333;
  margin-top: -50px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}
</style>